.headcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    margin: 0 auto;
    padding: 20px;
}
.headcont {
    display: flex;
    gap: 15px;
}
.container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 20px;
}
.cont1cont {
    flex: 1;
    border: 1px solid black;
    padding: 10px;
}
.center-img {
    width: 200px;
    height: 112,5px;
    flex-shrink: 0;
}
.header {
    text-align: center;
}
.cont2cont {
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
}
.menu-toggle {
    display: none;
}
@media (max-width: 768px) {
.container {
    flex-direction: column;
    align-items: center;
}
.headcont {
    display: none;
}
.menu-toggle {
    display: block;
}
}