body {
background-color: rgb(46, 43, 43);
}
.center-img {
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
}
.locat {
    color: rgb(86, 176, 86);
    text-align: center;
    font-size: large;
    margin-bottom: -4%;
}
.bio {
    text-align: center;
}
.block {
    background-color: rgb(78, 75, 75);
    margin-top: 10%;   
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 15px;
    padding: 20px;
h1 {
    margin-top: 10px;
    margin-bottom: -5%;
    text-align: center;
}
}
.links {
    background-color: black;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    text-align: center;
    padding: 10px;
}
.styl-link {
    display: block;
    color: rgb(218, 223, 228);
    text-decoration: none;
}