body {
    background-color: aliceblue;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}
.mentam {
    background-color: rgb(71, 102, 128);
    width: auto;
    padding: 5px;
    text-align: center;
    height: 50px;
    border-radius: 10%;
    margin: 25px;
}
.BrandName {
    margin-bottom: 15px;
}
.BrandImg {
    width: 50px;
    height: 50px;
    border-radius: 10%;
}